@font-face {
   font-family: "Akzidenz-Grotesk BQ";
   src: url("fonts/AkzidenzGroteskBQ-Bold.eot") format("embedded-opentype"), url("fonts/AkzidenzGroteskBQ-Bold.otf") format("opentype"), url("fonts/AkzidenzGroteskBQ-Bold.woff") format("woff");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Akzidenz-Grotesk BQ";
   src: url("fonts/AkzidenzGroteskBQ-BoldItalic.eot") format("embedded-opentype"), url("fonts/AkzidenzGroteskBQ-BoldItalic.otf") format("opentype"), url("fonts/AkzidenzGroteskBQ-BoldItalic.woff") format("woff");
   font-weight: bold;
   font-style: italic;
}
@font-face {
   font-family: "Akzidenz-Grotesk BQ";
   src: url("fonts/AkzidenzGroteskBQ-Italic.eot") format("embedded-opentype"), url("fonts/AkzidenzGroteskBQ-Italic.otf") format("opentype"), url("fonts/AkzidenzGroteskBQ-Italic.woff") format("woff");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Akzidenz-Grotesk BQ";
   src: url("fonts/AkzidenzGroteskBQ-Medium.eot") format("embedded-opentype"), url("fonts/AkzidenzGroteskBQ-Medium.otf") format("opentype"), url("fonts/AkzidenzGroteskBQ-Medium.woff") format("woff");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Akzidenz-Grotesk BQ";
   src: url("fonts/AkzidenzGroteskBQ-MedItalic.eot") format("embedded-opentype"), url("fonts/AkzidenzGroteskBQ-MedItalic.otf") format("opentype"), url("fonts/AkzidenzGroteskBQ-MedItalic.woff") format("woff");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Akzidenz-Grotesk BQ";
   src: url("fonts/AkzidenzGroteskBQ-Reg.eot") format("embedded-opentype"), url("fonts/AkzidenzGroteskBQ-Reg.otf") format("opentype"), url("fonts/AkzidenzGroteskBQ-Reg.woff") format("woff");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Open Sans Light";
   src: url("fonts/Open Sans Light.eot") format("embedded-opentype"), url("fonts/Open Sans Light.ttf") format("truetype"), url("fonts/Open Sans Light.woff") format("woff"), url("fonts/Open Sans Light.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Open Sans Light";
   src: url("fonts/Open Sans Light Italic.eot") format("embedded-opentype"), url("fonts/Open Sans Light Italic.ttf") format("truetype"), url("fonts/Open Sans Light Italic.woff") format("woff"), url("fonts/Open Sans Light Italic.svg") format("svg");
   font-weight: normal;
   font-style: italic;
}